// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "se_dvorak_keys.h"

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht LALT k3  &ht RSHFT k4

#define LDEFAULT 0
#define LLEFT    1
#define LRIGHT   2
#define LFUNC    3
#define LMGMT    4

&caps_word {
    continue-list = <SVD_UNDER SVD_MINUS, LSHIFT, RSHIFT, LALT, RALT, LCTRL, RCTRL, LGUI, RGUI>;
};

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            label = "GRAVE_ESCAPE";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp SVD_GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
        // Make LS(,) RS(,) output ! instead of <
        shiftless: shiftless {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_LESS";
            #binding-cells = <0>;
            bindings = <&kp SVD_COMM>, <&kp SVD_EXLM>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // Make LS(,) RS(,) output ? instead of >
        shiftgreater: shiftgreater {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_GREATER";
            #binding-cells = <0>;
            bindings = <&kp SVD_DOT>, <&kp SVD_QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        // Make RS(0-5) output A-F
        hex0: hex0 {
            compatible = "zmk,behavior-mod-morph";
            label = "hex0";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp SVD_A>;
            mods = <(MOD_RSFT)>;
        };
        hex1: hex1 {
            compatible = "zmk,behavior-mod-morph";
            label = "hex1";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp SVD_B>;
            mods = <(MOD_RSFT)>;
        };
        hex2: hex2 {
            compatible = "zmk,behavior-mod-morph";
            label = "hex2";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp SVD_C>;
            mods = <(MOD_RSFT)>;
        };
        hex3: hex3 {
            compatible = "zmk,behavior-mod-morph";
            label = "hex3";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp SVD_D>;
            mods = <(MOD_RSFT)>;
        };
        hex4: hex4 {
            compatible = "zmk,behavior-mod-morph";
            label = "hex4";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp SVD_E>;
            mods = <(MOD_RSFT)>;
        };
        hex5: hex5 {
            compatible = "zmk,behavior-mod-morph";
            label = "hex5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp SVD_F>;
            mods = <(MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        mgmt_layer {
            if-layers = <LLEFT LRIGHT>;
            then-layer = <LMGMT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC `    │  ,       │  .       │  P       │  Y       │   │  F       │  G       │  C       │  R       │  L       │
           &gresc &shiftless &shiftgreater &kp SVD_P &kp SVD_Y      &kp SVD_F  &kp SVD_G  &kp SVD_C  &kp SVD_R  &kp SVD_L
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  O       │  E       │  U       │  I       │   │  D       │  H       │  T       │  N       │  S       │
           HRML(SVD_A, SVD_O,     SVD_E,     SVD_U)    &kp SVD_I      &kp SVD_D  HRMR(SVD_H, SVD_T,     SVD_N,     SVD_S)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Ä       │  Q       │  J       │  K       │  X       │   │  B       │  M       │  W       │  V       │  Z       │
         &kp SVD_ADIA &kp SVD_Q  &kp SVD_J &kp SVD_K   &kp SVD_X      &kp SVD_B  &kp SVD_M  &kp SVD_W  &kp SVD_V  &kp SVD_Z
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &lt 2 TAB   &kp ENTER     &kp SPACE  &lt 1 BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ Å        │  4  E    │  5  F    │  6  F    │          │   │          │ PAGE UP  │ UP       │ PAGE_DN  │          │
      &kp SVD_ARING    &hex4      &hex5      &kp N6     &trans         &trans   &kp PG_UP    &kp UP   &kp PG_DN    &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  0  A    │  1  B    │  2  C    │  3  D    │          │   │ HOME     │ LEFT     │ DOWN     │ RIGHT    │ END      │
            &hex0      &hex1      &hex2      &hex3      &trans         &kp HOME  &kp LEFT    &kp DOWN   &kp RIGHT  &kp END
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Ö       │  7       │  8       │  9       │  Mod5    │   │          │ Toggle F │ INSERT   │          │ CAPS_WORD│
        &kp SVD_ODIA   &kp N7     &kp N8     &kp N9     &sk RALT       &trans     &tog LFUNC &kp INS    &trans    &caps_word
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ~       │  <       │  $       │  >       │          │   │          │  [       │  _       │  ]       │          │
      &kp SVD_TILD &kp SVD_LESS &kp SVD_CURR &kp SVD_GREATER &trans &trans &kp SVD_LBKT &kp SVD_UNDER &kp SVD_RBKT &kp SVD_BAR
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  =       │  (       │  "       │  )       │  #       │   │  &       │  {       │  -       │  }       │  |       │
      &kp SVD_EQUAL &kp SVD_LPRN &kp SVD_DQUO &kp SVD_RPRN &kp SVD_HASH &kp SVD_AMPR &kp SVD_LBRC &kp SVD_MINUS &kp SVD_RBRC &kp SVD_SEMI 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  +       │  *       │  :       │  '       │   │  %       │  /       │  ^       │  \       │  @       │
          &trans  &kp SVD_PLUS &kp SVD_ASTR &kp SVD_COLON &kp SVD_SQT &kp SVD_PERC &kp SVD_FSLH &kp SVD_CIRC &kp SVD_BSLH &kp SVD_AT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        function_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ INSERT   │   F4     │  F5      │  F6      │ F11      │   │          │ BL-      │ Vol Up   │ BL+      │          │
            &kp INS    &kp F4     &kp F5     &kp F6     &kp F11        &trans  &kp C_BRI_DN &kp C_VOL_UP &kp C_BRI_UP &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F10     │   F1     │  F2      │  F3      │ F12      │   │          │  C_Prev  │ Vol Down │ C_Next   │          │
             &kp F10   &kp F1     &kp F2     &kp F3     &kp F12        &trans  &kp C_PREV   &kp C_VOL_DN &kp C_NEXT &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │ F7       │ F8       │ F9       │          │   │          │ Toggle F │Play/Pause│  Mute    │          │
             &trans    &kp F7     &kp F8     &kp F9     &trans          &trans     &tog LFUNC  &kp C_PP  &kp C_MUTE &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mgmt_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
            &reset     &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans      &reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │ DELETE   │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &kp DEL    &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │ BT/USB   │ EXT_PWR  │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &out OUT_TOG &ext_power EP_TOG &trans &trans &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
